<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="DbOtelEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2BCQ69S\MSİ;initial catalog=DbOtel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DbOtelEntities1" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2BCQ69S\MSİ;initial catalog=DbOtel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="localhost_DbOtel_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-2BCQ69S\MSİ;integrated security=SSPI;initial catalog=DbOtel" />
    <add name="desktop-2bcq69s\msİ.DbOtel.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-2BCQ69S\MSİ;integrated security=SSPI;initial catalog=DbOtel" />
  </connectionStrings>
</configuration>